body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
.top-container {
  background-color: #e1f2fb;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}
.mypic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.skill {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.coffee {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.bottom-container {
  background-color: #11999e;
  padding: 50px 0 20px;
  
}
h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.pro {
  text-decoration: underline;
}
.intro{
  width: 20%;
  margin: auto;
}
.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}
/* .para {
  clear: left;
}
.para1 {
  clear: right;
} */
hr{
  border:dotted lightgrey 6px;
  border-bottom: none;  
  width: 4%;

}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  
  background: #11cdd4;
  
  
}
.btn:hover {
  color: #ffffff ;
  background: #30e3cb;
 
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color: lightskyblue;
  font-family: "Montserrat", sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #Eaf6f6;
}
.copywrite{
  color: #Eaf6f6;
  font-size: 0.90rem;
}